In [1]:
import numpy as np
import pandas as pd

In [2]:
# air 데이터 병합
air_2016_seoul = pd.read_csv('E:/Python/csv/air_2016_seoul.csv')
air_2017_seoul = pd.read_csv('E:/Python/csv/air_2017_seoul.csv')
air_2018_seoul = pd.read_csv('E:/Python/csv/air_2018_seoul.csv')
air = pd.concat([air_2016_seoul,air_2017_seoul,air_2018_seoul], ignore_index=True)
air.to_csv('E:/Python/처리된 csv자료/p_air.csv', encoding='utf-8')

In [3]:
# 데이터 불러오기 (전처리 된 GS, 랄라블라, 날씨, 자외선, 대기오염물질)
gs = pd.read_csv('E:/Python/처리된 csv자료/p_gs.csv', parse_dates=['date'])
lavla = pd.read_csv('E:/Python/처리된 csv자료/p_lavla.csv', parse_dates=['date'])
weather = pd.read_csv('E:/Python/처리된 csv자료/p_weather.csv', parse_dates=['date'])
uv = pd.read_csv('E:/Python/처리된 csv자료/p_uv.csv', parse_dates=['date'])
air = pd.read_csv('E:/Python/처리된 csv자료/p_air.csv', parse_dates=['date'], index_col=[0])

In [4]:
gs_seoul = gs.loc[gs['pvn_nm']=='서울특별시']
lavla_seoul = lavla.loc[lavla['pvn_nm']=='서울특별시']
uv_seoul = uv.loc[uv['1단계']=='서울특별시']
w_seoul = weather.loc[weather['loc']==108] # 서울(108)
# air(대기오염 물질(미세먼지)) 서울데이터로 주어짐.

In [4]:
# uv_seoul 컬럼명 다른 데이터와 통일.
# 오늘 자외선 지수 : uv
# 내일 자외선 지수 : uv_after1
# 모레 자외선 지수 : uv_after2
uv_seoul.columns = ['date', '지점번호', 'pvn_nm', 'bor_nm', 'uv', 'uv_after1', 'uv_after2']

In [28]:
# # merge작업전 행정구역 단위 '구' 확인

# seoul_lavla_gu = lavla_seoul['bor_nm'].unique()
# seoul_gs_gu = gs_seoul['bor_nm'].unique()
# seoul_air_gu = air['bor_nm'].unique()
# seoul_uv_gu = uv_seoul['bor_nm'].unique()

# print(len(seoul_gs_gu))  # 25
# print(len(seoul_lavla_gu))  # 20
# print(len(seoul_air_gu)) # 25
# print(len(seoul_uv_gu))  # 25

# # 내용물 비교전 순서 정렬
# seoul_gs_gu.sort()
# seoul_lavla_gu.sort()
# seoul_air_gu.sort()
# seoul_uv_gu.sort()

# # print(seoul_lavla_gu)
# # print(seoul_air_gu)

# # list1의 '구'들 전부가 list2에 존재 하는지 확인
# def checkGUs(list1, list2):
#     truthTable= list()
#     for element in list1:
#         truthTable.append(element in list2)
#     return all(truthTable)

# checkGUs(seoul_lavla_gu, seoul_air_gu) # True
# checkGUs(seoul_lavla_gu, seoul_uv_gu) # True

# # lavla의 모든 '구'는 air/uv  있다.
# # merge해도 ㅇㅋ

25
20
25
25
['강남구' '강북구' '강서구' '관악구' '광진구' '구로구' '노원구' '동대문구' '동작구' '마포구' '서대문구' '서초구'
 '성북구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구' '중랑구']
['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구']

True

In [5]:
uv_seoul.columns
air.columns
air.head()

,date,bor_nm,SO2,CO,O3,NO2,PM10,PM25
0,2016-01-01,강남구,0.005458,1.016667,0.005021,0.052271,71.062500,44.208333
1,2016-01-01,강동구,0.004833,0.900000,0.002175,0.046167,71.062500,45.416667
2,2016-01-01,강북구,0.004333,1.087500,0.004167,0.046417,73.666667,51.666667
3,2016-01-01,강서구,0.005042,1.012500,0.004458,0.037458,69.666667,26.123503
4,2016-01-01,관악구,0.005292,1.137500,0.008792,0.051500,65.500000,44.208333

In [6]:
# 자외선, 미세먼지를 시단위로 평균내서 하기로 결정

# 시단위 평균으로 병합
uv_seoul = uv_seoul[['date', 'pvn_nm', 'uv']].groupby(['date', 'pvn_nm']).mean().reset_index()
uv_seoul.head(5)

        date pvn_nm   uv
0 2016-06-17  서울특별시  8.0
1 2016-06-20  서울특별시  7.0
2 2016-06-21  서울특별시  7.0
3 2016-06-22  서울특별시  5.0
4 2016-06-23  서울특별시  8.0

In [8]:
air_seoul = air.groupby(['date']).mean().reset_index()
air_seoul.head(4)

        date       SO2        CO        O3       NO2       PM10       PM25
0 2016-01-01  0.005993  0.988250  0.005362  0.048646  68.696500  42.954273
1 2016-01-02  0.005959  0.740500  0.008833  0.045624  53.618667  31.265302
2 2016-01-03  0.007285  0.973215  0.012414  0.051033  97.820652  56.889171
3 2016-01-04  0.006177  0.643143  0.023534  0.028781  79.011348  46.221245

In [11]:
w_uv = pd.merge(weather, uv_seoul[['date','uv']], on='date',how='left')
w_uv.head(10)

,loc,date,temp,rain,cloud,wind,humid,hpa,sun_time,lgt_time,snow,year,month,day,weekday,nth_week,uv
0,108,2016-01-01,1.2,0.0,7.0,1.6,73.0,1019.9,9.6,2.1,0.0,2016,1,1,4,53,NaN
1,108,2016-01-02,5.7,0.0,7.8,2.0,76.9,1012.0,9.6,3.6,0.0,2016,1,2,5,53,NaN
2,108,2016-01-03,6.5,0.0,7.5,1.8,80.6,1008.9,9.7,2.2,0.0,2016,1,3,6,53,NaN
3,108,2016-01-04,2.0,0.0,4.4,3.1,54.4,1013.1,9.7,8.6,0.0,2016,1,4,0,1,NaN
4,108,2016-01-05,-2.7,0.0,3.4,2.3,39.4,1016.9,9.7,7.9,0.0,2016,1,5,1,1,NaN
5,108,2016-01-06,-1.7,0.0,6.0,1.8,54.3,1014.7,9.7,2.2,0.0,2016,1,6,2,1,NaN
6,108,2016-01-07,-3.4,0.0,0.3,2.5,51.8,1013.9,9.7,9.1,0.0,2016,1,7,3,1,NaN
7,108,2016-01-08,-3.3,0.0,0.5,2.0,49.8,1012.6,9.7,9.2,0.0,2016,1,8,4,1,NaN
8,108,2016-01-09,-2.1,0.0,4.1,2.1,57.1,1014.3,9.7,8.0,0.0,2016,1,9,5,1,NaN
9,108,2016-01-10,0.3,0.0,2.6,2.6,42.3,1015.5,9.8,7.9,0.0,2016,1,10,6,1,NaN

In [17]:
w_uv_a = pd.merge(w_uv, air_seoul, on='date',how='left')
w_uv_a.loc[(w_uv_a['month']==6)&(w_uv_a['year']==2016)&(w_uv_a['loc']==108)]

,loc,date,temp,rain,cloud,wind,humid,hpa,sun_time,lgt_time,...,day,weekday,nth_week,uv,SO2,CO,O3,NO2,PM10,PM25
152,108,2016-06-01,23.3,0.0,2.4,2.1,45.8,997.4,14.6,13.1,...,1,2,22,NaN,0.004250,0.426018,0.034290,0.031832,43.167579,22.073215
153,108,2016-06-02,23.2,0.0,0.6,2.4,38.3,1000.0,14.6,13.5,...,2,3,22,NaN,0.004560,0.412629,0.035614,0.037473,37.583290,17.933033
154,108,2016-06-03,22.2,0.0,4.0,2.2,48.1,1000.9,14.6,11.7,...,3,4,22,NaN,0.005509,0.454816,0.038139,0.041236,47.337710,24.728985
155,108,2016-06-04,21.2,0.0,7.5,1.6,51.8,999.1,14.6,2.7,...,4,5,22,NaN,0.004718,0.499500,0.030080,0.041764,53.769373,27.431607
156,108,2016-06-05,24.7,0.0,3.5,1.7,47.3,1000.5,14.7,11.8,...,5,6,22,NaN,0.004536,0.483167,0.042841,0.034141,51.360160,27.947186
157,108,2016-06-06,23.3,0.0,7.4,2.3,49.1,1002.4,14.7,4.6,...,6,0,23,NaN,0.004127,0.347861,0.040701,0.024210,24.498618,13.425189
158,108,2016-06-07,21.7,0.1,6.8,1.7,69.5,1000.3,14.7,2.3,...,7,1,23,NaN,0.004875,0.451090,0.029544,0.034986,43.847699,26.024872
159,108,2016-06-08,22.1,0.0,5.1,2.3,65.9,999.7,14.7,11.6,...,8,2,23,NaN,0.004446,0.398195,0.024448,0.033476,39.473514,23.587723
160,108,2016-06-09,24.1,0.0,1.4,2.0,59.5,1000.9,14.7,12.4,...,9,3,23,NaN,0.004730,0.480144,0.025155,0.040214,54.578768,30.410893
161,108,2016-06-10,24.6,0.0,2.1,2.2,60.9,1001.6,14.7,12.1,...,10,4,23,NaN,0.005860,0.545419,0.030636,0.045569,61.242784,35.693458
162,108,2016-06-11,23.5,3.0,8.3,1.7,74.3,1000.1,14.7,0.7,...,11,5,23,NaN,0.004996,0.440417,0.023445,0.029269,49.962779,30.180685
163,108,2016-06-12,23.5,1.5,8.3,2.1,79.4,995.6,14.7,3.9,...,12,6,23,NaN,0.004206,0.383478,0.022491,0.020353,31.813383,20.554769
164,108,2016-06-13,23.5,0.0,5.1,2.4,70.5,992.2,14.7,9.2,...,13,0,24,NaN,0.004300,0.561120,0.027828,0.033181,64.765534,36.442809
165,108,2016-06-14,23.8,0.0,6.0,2.1,62.5,992.9,14.8,7.8,...,14,1,24,NaN,0.005282,0.523453,0.031255,0.039132,52.917835,30.662447
166,108,2016-06-15,20.9,15.5,9.0,2.7,81.8,990.5,14.8,1.9,...,15,2,24,NaN,0.004275,0.402740,0.026017,0.028357,37.318472,22.684772
167,108,2016-06-16,20.9,0.0,6.9,2.8,73.5,990.3,14.8,7.0,...,16,3,24,NaN,0.004446,0.434714,0.039163,0.025639,32.915218,19.108174
168,108,2016-06-17,23.8,0.0,2.5,2.5,63.1,998.0,14.8,12.0,...,17,4,24,8.00,0.005174,0.560769,0.048161,0.032868,55.498638,35.673204
169,108,2016-06-18,24.5,0.0,1.3,1.8,58.0,1001.3,14.8,12.5,...,18,5,24,NaN,0.005477,0.613333,0.043216,0.037829,67.605869,44.232177
170,108,2016-06-19,24.1,0.0,4.4,1.9,64.5,998.1,14.8,8.8,...,19,6,24,NaN,0.004514,0.479083,0.032065,0.028894,41.785000,27.628167
171,108,2016-06-20,24.7,0.0,6.8,1.7,66.0,996.7,14.8,6.3,...,20,0,25,7.00,0.004937,0.501242,0.038434,0.037893,53.403585,34.195618
172,108,2016-06-21,26.0,0.0,6.1,1.7,60.1,996.8,14.8,7.2,...,21,1,25,7.00,0.005116,0.601054,0.040789,0.050356,64.238364,41.554258
173,108,2016-06-22,24.3,30.5,6.4,2.0,75.1,995.5,14.8,1.0,...,22,2,25,5.00,0.005028,0.618388,0.030778,0.044288,71.150782,46.620371
174,108,2016-06-23,24.7,0.1,5.0,2.1,71.0,995.9,14.8,7.3,...,23,3,25,8.00,0.004720,0.532200,0.032478,0.035555,47.938823,30.941273
175,108,2016-06-24,23.1,3.5,7.3,2.0,75.8,989.7,14.8,3.2,...,24,4,25,4.96,0.004252,0.491220,0.028285,0.033919,56.119375,31.887885
176,108,2016-06-25,22.8,0.0,4.5,2.8,63.1,993.1,14.8,9.1,...,25,5,25,7.00,0.004564,0.415535,0.035565,0.027794,34.588331,18.279188
177,108,2016-06-26,24.4,0.0,0.8,2.7,58.4,998.7,14.7,13.4,...,26,6,25,8.00,0.004656,0.390452,0.036968,0.024879,32.875198,18.698899
178,108,2016-06-27,24.4,0.0,6.6,1.6,55.5,999.8,14.8,5.0,...,27,0,26,7.00,0.006039,0.487454,0.029432,0.041316,37.075989,21.369042
179,108,2016-06-28,24.7,0.0,5.0,1.8,61.1,1000.5,14.8,9.2,...,28,1,26,8.00,0.005101,0.514178,0.034510,0.041592,61.761007,39.310389
180,108,2016-06-29,25.3,0.0,6.9,2.2,58.0,1000.3,14.7,7.5,...,29,2,26,6.00,0.005190,0.452767,0.034030,0.037830,38.780801,24.206219
181,108,2016-06-30,24.6,0.2,9.5,2.8,78.1,999.8,14.7,0.9,...,30,3,26,5.00,0.004361,0.411734,0.025306,0.028270,32.772234,20.347706

In [18]:
# 전지역
w_uv_a.to_csv('E:/Python/처리된 csv자료/p_wUVair.csv', encoding='utf-8')

In [20]:
# 서울만
w_uv_a.loc[w_uv_a['loc']==108].to_csv('E:/Python/처리된 csv자료/p_wUVair_seoul.csv', encoding='utf-8')

In [23]:
w_seoul = pd.read_csv('E:/Python/처리된 csv자료/p_wUVair_seoul.csv', index_col=0)

In [24]:
w_seoul.loc[w_seoul.date.between('2017-12-30','2018-01-01')]

,loc,date,temp,rain,cloud,wind,humid,hpa,sun_time,lgt_time,...,day,weekday,nth_week,uv,SO2,CO,O3,NO2,PM10,PM25
729,108,2017-12-30,1.4,0.7,9.3,0.9,79.5,1013.9,9.6,0.0,...,30,5,52,NaN,0.005750,1.053702,0.005022,0.053461,127.896967,89.333214
730,108,2017-12-31,-0.3,1.0,1.9,2.3,54.4,1012.8,9.6,8.5,...,31,6,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731,108,2018-01-01,-1.3,0.0,1.0,1.4,39.1,1016.8,9.6,8.3,...,1,0,1,NaN,0.005734,0.639927,0.010921,0.034842,44.142733,21.241891

In [46]:
air_pollution = ['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25']

to_fillNaN = dict(w_seoul[air_pollution].loc[(w_seoul.date=='2017-12-30')|(w_seoul.date=='2018-01-01')].mean())

w_seoul_airpol = w_seoul.iloc[:,-6:]
w_seoul_airpol = w_seoul_airpol.fillna(value=to_fillNaN, limit=1)
# w_seoul_airpol.isnull().sum()

w_seoul[air_pollution] = w_seoul_airpol

In [54]:
w_seoul.loc[w_seoul.date.between('2017-12-30','2018-01-01')]

,loc,date,temp,rain,cloud,wind,humid,hpa,sun_time,lgt_time,...,day,weekday,nth_week,uv,SO2,CO,O3,NO2,PM10,PM25
729,108,2017-12-30,1.4,0.7,9.3,0.9,79.5,1013.9,9.6,0.0,...,30,5,52,NaN,0.005750,1.053702,0.005022,0.053461,127.896967,89.333214
730,108,2017-12-31,-0.3,1.0,1.9,2.3,54.4,1012.8,9.6,8.5,...,31,6,52,NaN,0.005742,0.846814,0.007971,0.044152,86.019850,55.287553
731,108,2018-01-01,-1.3,0.0,1.0,1.4,39.1,1016.8,9.6,8.3,...,1,0,1,NaN,0.005734,0.639927,0.010921,0.034842,44.142733,21.241891

In [55]:
w_seoul.isnull().sum()

loc           0
date          0
temp          0
rain          0
cloud         0
wind          0
humid         0
hpa           0
sun_time      0
lgt_time      0
snow          0
year          0
month         0
day           0
weekday       0
nth_week      0
uv          381
SO2           0
CO            0
O3            0
NO2           0
PM10          0
PM25          0
dtype: int64

In [56]:
w_seoul.to_csv('E:/Python/처리된 csv자료/p_wUVair_seoul.csv', encoding='utf-8')